<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Not Found</ion-title>
        <ion-menu-button slot="end"></ion-menu-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>お探しのページは見つかりませんでした。</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            申し訳ありませんがお探しのページは見つかりませんでした。
        </ion-card-content>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-button routerLink="/site/top">
                    <ion-icon slot="start" name="home-outline"></ion-icon>
                    トップに戻る
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
