<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="end">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>スキル新規追加</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''">
  <ion-card mode="md" [color]="themeSubject$ | async">
    <form [formGroup]="addForm">
      <ion-card-content>
        <ion-list no-padding>
          <ion-item [color]="themeSubject$ | async">
            <ion-label position="floating">スキルの名前</ion-label>
            <ion-input [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''"
                       [formControl]="addForm.controls['skillname']" type="text"
                       placeholder="スキルの名前を入力してください"></ion-input>
          </ion-item>
          <ion-item [color]="themeSubject$ | async">
            <ion-label position="floating">スキルのURL</ion-label>
            <ion-input
                    [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''"
                    [formControl]="addForm.controls['skillurl']"
                    type="string" placeholder="スキルのURLを入力してください"></ion-input>
          </ion-item>
          <ion-item [color]="themeSubject$ | async">
            <ion-label position="stacked">経験年数</ion-label>
            <ion-range mode="md" pin="true" step="1" min="0"
                       [color]="(themeSubject$ | async) === 'dark' ? 'primary' : ''"
                       [formControl]="addForm.controls['skillexp']"></ion-range>
          </ion-item>
          <ion-item [color]="themeSubject$ | async">
            <ion-label position="stacked">スキル習熟度</ion-label>
            <ion-range mode="md" pin="true" step="1" max="100" min="0"
                       [color]="(themeSubject$ | async) === 'dark' ? 'primary' : ''"
                       [formControl]="addForm.controls['skillstar']"></ion-range>
          </ion-item>
          <ion-item [color]="themeSubject$ | async">
            <ion-label position="floating">PR文</ion-label>
            <ion-textarea autoGrow="true" [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''"
                          [formControl]="addForm.controls['skilldesc']" placeholder="スキルの説明を入力してください"
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <div style="display: flex; justify-content: center; margin-top: 2%;">
          <ion-button (click)="addSkill()" mode="md" fill="outline">
            <ion-icon name="add-circle"></ion-icon>
            スキルの追加
          </ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>

