<div class="menu_container">
  <mz-collection>
    <mz-collection-item class="white-text blue darken-4">
      <h6>メニュー</h6>
    </mz-collection-item>
    <a class="blue-text" mz-collection-link href="/top">TOPページ</a>
    <a class="blue-text" mz-collection-link href="/profile">プロフィール</a>
    <a class="blue-text" mz-collection-link href="">最近の活動</a>
    <a class="blue-text" mz-collection-link href="">技術プレビュー</a>
    <a class="blue-text" mz-collection-link href="">管理者ページ</a>
  </mz-collection>
</div>