ion-card {
    margin: 0;
    border-radius: 0;
}

img {
    display: block;
}

.top-logo {
    position: relative;
    max-width: 100%;
    height: auto;

    &__backimg {
        width: 100%;
        height: auto;
    }

    .logo-img-block {
        width: 100%;
        position: absolute;
        display: flex;
        top: 15px;
        bottom: auto;
        justify-content: center;
        z-index: 10;
        transform: scale(1.5);
    }
}

.logo-img {
    max-width: 60%;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 10;
}

.contents {
    height: auto;
}

.imgoverridetext {
    position: absolute;
    top: 0;
    left: 30px;
    display: flex;
    justify-content: center;
}

.card {
    margin: 0;
}


@media screen and (max-width: 1023px) {
    ion-img {
        width: auto;
        max-height: 300px;
        object-fit: cover;
        display: block;
    }

}
