<div class="navbar-fixed">
  <mz-navbar navbarClass="blue siteheader">
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <div *ngIf="!this.isMobile" routerLink="/" class="brand-logo">
          Kenta Technology Lab
        </div>
      </mz-navbar-item>
      <mz-navbar-item>
        <div *ngIf="this.isMobile" routerLink="/" class="brand-logo-mobile">
          K.T.L.
        </div>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a href="https://angular.jp/">
          <mat-icon class="logo-img" svgIcon="nglogo"></mat-icon>
        </a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a href="https://firebase.google.com/">
          <mat-icon class="logo-img" svgIcon="firebaselogo"></mat-icon>
        </a>
      </mz-navbar-item>
      <mz-navbar-item>
        <!-- <button mz-button class="menu_button" flat="true"> -->
        <a>
          <label class="menu_button menu-open white-text" for="menu-toggle"><i class="menu-open white-text" for="menu-toggle"
              mz-icon [icon]="'menu'"></i></label>
        </a>
        <!-- </button> -->
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>

<input id="menu-toggle" type="checkbox">
<label class="tauch_close" for="menu-toggle"></label>
<ul>
  <app-sidemenu></app-sidemenu>
</ul>

<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>

<mz-sidenav #sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" [fixed]="false" [width]="250">
  <app-sidemenu></app-sidemenu>
</mz-sidenav>