<ion-split-pane contentId="menu-content" (ionSplitPaneVisible)="onSplitPainEvent($event)">
    <ion-menu contentId="menu-content" type="overlay">
        <ion-header>
            <ion-toolbar mode="ios" color="primary">
                <ion-buttons slot="start">
                    <ion-button href="https://ionicframework.com/" size="small" fill="clear">
                        <ion-icon name="logo-ionic" size="large"></ion-icon>
                    </ion-button>
                    <ion-button href="https://angular.jp/" size="small" fill="clear">
                        <ion-icon size="large" src="assets/Angular_full_color_logo.svg"></ion-icon>
                    </ion-button>
                    <ion-button href="https://firebase.google.com/" size="small" fill="clear">
                        <ion-icon size="large" src="assets/firebase-logo.svg"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-button (click)="authService.doLogout()" *ngIf="(authService.checkLoginState() | async) !== null"
                            mode="ios"
                            size="medium" slot="end">
                    <ion-icon name="log-out" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-toolbar>
            <!--      <ion-toolbar mode="ios" color="primary">-->
            <!--        <ion-title>メニュー</ion-title>-->
            <!--      </ion-toolbar>-->
        </ion-header>
        <ion-content>
            <ion-list class="ion-no-padding">
                <ion-menu-toggle autoHide="false">
                    <app-sidemenu></app-sidemenu>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet mode="md" id="menu-content"></ion-router-outlet>
</ion-split-pane>
<ion-fab *ngIf="!isSplitPainEnable" vertical="bottom" horizontal="end" slot="fixed">
    <ion-menu-button>
        <ion-fab-button class="ion-margin-bottom">
            <ion-icon name="menu-outline"></ion-icon>
        </ion-fab-button>
    </ion-menu-button>
</ion-fab>
