<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="end">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>ブログ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''">
  <ion-card mode="md" [color]="themeSubject$ | async">
    <ion-card-header>
      <ion-card-title>{{testData.title}}</ion-card-title>
      <ion-card-subtitle>{{formatDate(testData.date)}}</ion-card-subtitle>
      <div class="hidden-chip">
        <ion-chip [color]="(themeSubject$ | async) === 'dark' ? 'primary' : 'dark'"
                  [outline]="(themeSubject$ | async) === 'dark'"
                  *ngFor="let tag of testData.tag">
          <ion-label>{{tag}}</ion-label>
        </ion-chip>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="testData.blogmain | mdToHtml"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
