<div>
  <mat-card>
    <mat-toolbar color="primary">
      <span>Angular6 + Express4 + TypeScript2 + MongoDB is God.</span>
    </mat-toolbar>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>

    <button mz-button>
      テスト用
    </button>

    <p>
      <mat-icon>home</mat-icon>
      hello works!
      <mat-icon>home</mat-icon>
    </p>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
