<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="end">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>管理者の自己紹介</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="(themeSubject$ | async) === 'dark' ? 'medium' : ''">
  <div>
    <div class="grid_container">
      <div name="profile">
        <ion-card [color]="themeSubject$ | async" class="blue white-text" mode="md">
          <ion-card-header>
            <ion-card-title style="text-align: center">
              プロフィール
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="(UserData$ | async) as User">
            <img class="profile_img" src="assets/profile3.jpg" alt="kenta">
            <p style="text-align:center;">名前: Kenta</p>
            <p>性別: {{User.gender}}</p>
            <p>出身: {{User['from']}}</p>
            <p>年齢: 現在{{this.myAge}}歳 ({{this.currentYear}}年)</p>
            <p>職業: {{User.job}}</p>
            <p>趣味: {{User.hobby}}</p>
            <br>
            <p>自己紹介:</p>
            <p>
              {{User.pr}}
            </p>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-spinner *ngIf="this.loadState" style="margin: 0 auto" [color]="themeSubject$ | async"
                   size="big"></ion-spinner>
      <div class="skill_grid_container">
        <ng-container *ngFor="let skill of (SkillData$ | async)">
          <ion-card [color]="themeSubject$ | async"
                    class="{{skill.color}} white-text" mode="md">
            <ion-item class="head-ion-item" [color]="themeSubject$ | async" lines="none">
              <ion-button mode="ios" [fill]="(themeSubject$ | async) === 'dark' ? 'solid': 'outline'"
                          [color]="themeSubject$ | async" slot="end" href="{{skill.url}}">
                サイトへ
                <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-button>
              <ion-card-title slot="start">
                {{skill.skillname}}
              </ion-card-title>
            </ion-item>
            <ion-card-content>
              <p>{{skill.desc}}</p>
              <p>使用年数: {{skill.experience}}年</p>
              <h6>習熟度:</h6>
              <div class="star-rating">
                <div class="star-rating-item" [style]="skill.star"></div>
              </div>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
