<div class="background">
  <!-- <mz-card class="light-blue accent-2 white-text" [hoverable]="false" style="margin:10px;">
    <mz-card-title>
      プロフィールページ
    </mz-card-title>
    <mz-card-content style="text-align:center;">
      ここではkentaという人物のプロフィールとスキルを掲載します。
    </mz-card-content>
  </mz-card> -->
  <div class="grid_container">
    <div name="profile">
      <mz-card class="blue white-text" [hoverable]="false">
        <mz-card-title>
          プロフィール
        </mz-card-title>
        <mz-card-content>
          <img class="profile_img" src="assets/profile2.jpg" alt="kenta">
          <p style="text-align:center;">名前: Kenta</p>
          <dl>
            <dt>自己紹介</dt>
            <dd></dd>
            <dt>出身:</dt>
            <dd>島根県</dd>
            <dt>年齢:</dt>
            <dd>現在22歳(2018年)</dd>
            <dt>職業:</dt>
            <dd>SE</dd>
            <dt>趣味:</dt>
            <dd>PC,アニメ,ゲーム</dd>
          </dl>
          自己紹介:
          <p>はじめまして、Kentaと言います。</p>
          <p>岐阜のIT系のベンチャー企業でSEとして働いております。メインはバックエンドですが、最近はフロントエンドの技術を多く触るようになってきました。違う分野ですが頑張って技術を磨いていきたいと思います。このページ内に自分のスキルをまとめたいと思います。</p>
        </mz-card-content>
      </mz-card>
    </div>
    <div class="skill_grid_container">
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          Node.js
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          Express
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          MongoDB
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          Angular
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          Firebase
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          HTML
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          CSS
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          TypeScript
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          NativeScript
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          MySQL
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
      <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">
        <mz-card-title>
          Java
        </mz-card-title>
        <mz-card-content>
          コンテンツ
        </mz-card-content>
      </mz-card>
    </div>
  </div>
</div>