<div class="background">
  <div class="grid_container">
    <div name="profile">
      <mz-card class="blue white-text" [hoverable]="false">
        <mz-card-title>
          <p style="text-align:center;">プロフィール</p>
        </mz-card-title>
        <mz-card-content>
          <img class="profile_img" src="assets/profile3.jpg" alt="kenta">
          <p style="text-align:center;">名前: Kenta</p>
          <dl>
            <dt>性別:</dt>
            <dd>男</dd>
            <dt>出身:</dt>
            <dd>島根県</dd>
            <dt>年齢:</dt>
            <dd>現在{{this.myAge}}歳 ({{this.currentYear}}年)</dd>
            <dt>職業:</dt>
            <dd>SE</dd>
            <dt>趣味:</dt>
            <dd>PC,アニメ,ゲーム</dd>
          </dl>
          自己紹介:
          <p>はじめまして、Kentaと言います。</p>
          <p>
            岐阜のIT系のベンチャー企業でSEとして働いております。メインはバックエンドですが、最近はフロントエンドの技術を多く触るようになってきました。得意な分野とは違う分野ですが頑張って技術を磨いていきたいと思います。このページ内に自分の使用できるスキルをまとめておきたいと思います。</p>
        </mz-card-content>
      </mz-card>
    </div>
    <mz-spinner *ngIf="this.loadState" style="margin: 0 auto" color="blue" size="big"></mz-spinner>
    <div class="skill_grid_container">
      <ng-container *ngFor="let skill of (SkillData$ | async)">
        <a *ngIf="skill.display" href="{{skill.url}}">
          <mz-card class="{{skill.color}} white-text" [hoverable]="true">
            <mz-card-title>
              {{skill.skillname}}
            </mz-card-title>
            <mz-card-content>
              <p>{{skill.desc}}</p>
              <p>使用年数: {{skill.experience}}年</p>
              <dl>
                <dt>
                  <h6>習熟度:</h6>
                </dt>
                <dd>
                  <div class="star-rating">
                    <div class="star-rating-item" [style]="skill.star"></div>
                  </div>
                </dd>
              </dl>
            </mz-card-content>
          </mz-card>
        </a>
      </ng-container>
    </div>
    <!--    <div class="skill_grid_container">-->
    <!--      <a href="https://nodejs.org/ja/">-->
    <!--        <mz-card class="green darken-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            Node.js-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>JavaScriptをサーバーサイドで動かすプラットフォームです。</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:70%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="http://expressjs.com/ja/">-->
    <!--        <mz-card class="orange darken-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            Express-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>Nodeサーバをさっくり作れるNode.jsのフレームワークです。</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:70%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://www.mongodb.com/">-->
    <!--        <mz-card class="blue-grey darken-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            MongoDB-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>ドキュメント志向型のNoSQLDBです。 </p>-->
    <!--            <p>SQLに比べ非常に高速です。JavaScriptでクエリの実行が出来ます。</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:60%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://angular.jp/">-->
    <!--        <mz-card class="red darken-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            Angular-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>JavaScriptのSPA開発用のフレームワークです。</p>-->
    <!--            <p>フルスタックな思想で開発されたので、APIを叩く事も、内部でルーティングさせる事も、認証機能を持たせることもライブラリを追加せずに出来ます。（よくばりセットです）</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:80%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://firebase.google.com/">-->
    <!--        <mz-card class="orange lighten-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            Firebase-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>GoogleのmBaaSクラウドサービスです。</p>-->
    <!--            <p>バックエンドの管理や面倒な実装をGoogleが肩代わりしてくれます。リアルタイムNoSQLデータベースや、ユーザ認証等のサービスがあります。</p>-->
    <!--            <p>使用年数: 1年未満</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:20%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://ja.wikipedia.org/wiki/HyperText_Markup_Language">-->
    <!--        <mz-card class="orange darken-4 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            HTML-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>WEBサイトの構造を決めるマークアップ言語です。</p>-->
    <!--            <p>このページにも使用されています。</p>-->
    <!--            <p>使用年数: 4年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:100%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://ja.wikipedia.org/wiki/Cascading_Style_Sheets">-->
    <!--        <mz-card class="blue darken-3 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            CSS-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>WEBサイトを装飾したり、レイアウトを決めたりするのに使用します。</p>-->
    <!--            <p>このページにも使用されています。</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:50%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://www.typescriptlang.org/">-->
    <!--        <mz-card class="blue lighten-1 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            TypeScript-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>JavaScriptのスーパーセットです。</p>-->
    <!--            <p>JavaScriptに静的型付けとクラスベースオブジェクト指向を追加した物です。コンパイルするとjsファイルになります。</p>-->
    <!--            <p>使用年数: 3年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:70%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://www.nativescript.org/">-->
    <!--        <mz-card class="blue accent-3 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            NativeScript-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>ハイブリッドアプリ開発用JavaScriptフレームワークです。</p>-->
    <!--            <p>JAVAやSwiftを使用せずにJavaScriptだけでスマホアプリが開発できますが、現状ではまだまだ荒い所が多いです。</p>-->
    <!--            <p>使用年数: 2年</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:60%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://ionicframework.com/">-->
    <!--        <mz-card class="blue accent-2 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            Ionic-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>PWAやHybridアプリの開発用フレームワークです。</p>-->
    <!--            <p>-->
    <!--              Angularを使用してハイブリッドアプリのビューを作成できます。Angularの知識をそのままスマホアプリ開発に活かせるので非常に使いやすいと思いました。Angularがアップデートされてパフォーマンスが良くなると、Ionicで作ったアプリも総じてパフォーマンスが良くなると思います。</p>-->
    <!--            <p>使用年数: 1年未満</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:40%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--      <a href="https://www.mysql.com/jp/">-->
    <!--        <mz-card class="blue accent-5 white-text" [hoverable]="true">-->
    <!--          <mz-card-title>-->
    <!--            MySQL-->
    <!--          </mz-card-title>-->
    <!--          <mz-card-content>-->
    <!--            <p>リレーショナル型DBです。</p>-->
    <!--            <p>専門時代に少し習いましたが、業務では驚くほど使っていませんでした。最近、危機感を覚えて一人で復習していました。</p>-->
    <!--            <p>使用年数: 1年未満</p>-->
    <!--            <dl>-->
    <!--              <dt>-->
    <!--                <h6>習熟度:</h6>-->
    <!--              </dt>-->
    <!--              <dd>-->
    <!--                <div class="star-rating">-->
    <!--                  <div class="star-rating-item" style="width:20%;"></div>-->
    <!--                </div>-->
    <!--              </dd>-->
    <!--            </dl>-->
    <!--          </mz-card-content>-->
    <!--        </mz-card>-->
    <!--      </a>-->
    <!--    </div>-->
  </div>
</div>
