/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* 背景色 */
html {
  background-color: white;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

svg {
  height: 1cap;
  vertical-align: baseline;
  width: auto;
}

dt {
  float: left;
}

dt,
dd {
  min-height: 24px;
  line-height: 24px;
}

div.collection {
  margin: 0;
  bottom: 0;
}

.container {
  min-width: 100%;
  min-height: 100%;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}