// Ionic ---
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";
// --- Ionic
/* 背景色 */
html {
    background-color: #fcfcfc;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

svg {
    vertical-align: baseline;
    width: auto;
}

a {
    cursor: pointer;
}

dt {
    float: left;
}

dt,
dd {
    min-height: 24px;
    line-height: 24px;
}

div.collection {
    margin: 0;
    bottom: 0;
}

.container {
    min-width: 100%;
    min-height: 100%;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
