.top-logo {
  position: relative;
  max-width: 100%;
  height: auto;
}

.logo-img-block {
  position: absolute;
  display: flex;
  top: 15px;
  bottom: auto;
  justify-content: center;
  z-index: 10;
}

.logo-img {
  max-width: 60%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 10;
}

.contents {
  height: auto;
}

.imgoverridetext {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  justify-content: center;
}

.card {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  img {
    width: auto;
    max-height: 300px;
    object-fit: cover;
  }
}